* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ,
}

.p {
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.h1 {
    color: rgba(0, 0, 0, 1);
    font-family: Tenor Sans;
    font-size: 42px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
}